{% extends "::base.html.twig" %}
{% block top %}
    {{ parent() }}
    {% include "LEAProfBundle:Default:navbar.html.twig" %}
{% endblock %}
{% block body %}

    <p>Cet étudiant n'aura plus de tuteur associé dans l'appli pour l'année **** : {{ infos.et_pn }}</p>
    <br>
    <a href="{{ path("lea_prof_etuAttribues") }}"><button class="button">Annuler</button></a>
    <a href="{{ path("lea_prof_etuSupprOk",{ 'name': name}) }}"><button class="button">Supprimer</button></a>

{% endblock %}