{% extends "::base.html.twig" %}
{% block top %}
    {{ parent() }}
    {% include "LEAProfBundle:Default:navbar.html.twig" %}
{% endblock %}
{% block body %}

    <b>L'ETUDIANT : {{ infos.et_pn }}</b><br/>
    <form action="{{ path("lea_prof_etuVisiteUnEdit",{ 'name': name}) }}" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="Enregistrer" value="Enregistrer"/>
    </form>
{% endblock %}