
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="{{ path('lea_prof_homepage',{'name':name}) }}">Accueil</a></li>
        <li><a href="{{ path('lea_prof_choisir',{ 'name': name}) }}">Choisir étudiant</a></li>
        <li><a href="">Suivre mes choix</a></li>
        <li><a href="{{ path('lea_prof_etuAttribues', {'name': name}) }}">Etudiants attribués</a></li>
        <li><a href="">Rapport et soutenance</a></li>
    </ul>
</nav>
