{% extends "::base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h2>Bienvenue à toi jeune étudiant du nom de  {{ name }} ! </h2>
        </div>
        <div class="row">
            <h3>Informations</h3>
            <p> - Votre tuteur : </p>
        </div>
        <div class="row">
            <h3>Opérations</h3>
            <a href="{{ path('lea_etu_infosStage',{ 'name': name}) }}">
                <button>Mise à jour information stage</button>
            </a>
            <br/>
            <a href="{{ path('lea_etu_infosMission',{ 'name': name}) }}">
                <button>Mise à jour mission stage</button>
            </a>
        </div>
        <div class="row">
            <h3>Livret Stage</h3>
            <a href="">
                <button>Rencontre avec tuteur</button>
            </a>
            <br/>
            <a href="">
                <button>Première visite en entreprise</button>
            </a>
        </div>
        <div class="row">
            <h3>Rapport et soutenance</h3>
            <a href="">
                <button>Dates & consignes générales</button>
            </a>
        </div>
        <div class="row">
            <a href="">
                <h3>Déconnexion</h3>
            </a>
        </div>
    </div>
{% endblock %}