{% extends "::base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <form action="{{ path("lea_etu_inscrireEntr",{ 'name': name}) }}" method="post">
            {{ form_widget(form) }}
            <input type="submit" name="Inscrire" value="Inscrire"/>
            <a href="{{ path("lea_etu_infosStage",{'name':name}) }}">
                <button>Annuler</button>
            </a>
        </form>
        <div>
            C'est ca : {{ name }} et 
        </div>
    </div>

{% endblock %}